body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.account-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    margin: 10px 0;
    color: #555;
}

strong {
    color: #000;
}

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px; /*seperate two buttons*/
}

button {
    padding: 10px 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
}


button.update-btn {
    background-color: #5cb85c;  
}




button.delete-btn {
    background-color: #d9534f;
}




a {
    display: inline-block;
    margin-top: 30px; /*add margi to seperate lnk from delete and update buttons */
    color: #0275d8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
