/* Tharaka W.S IT23579580 */
main {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    margin: 0;
    display:flex;
    
}

.account-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.account-container h2 {
    color: #333;
}

.account-container p {
    margin: 10px 0;
    color: #555;
}

.account-container strong {
    color: #000;
}
 .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px; /*seperate two buttons*/
}

.account-container button {
    padding: 10px 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
}


button.update-btn {
    background-color: #5cb85c;  
}




button.delete-btn {
    background-color: #d9534f;
}




.account-container a {
    display: inline-block;
    margin-top: 30px; /*add margi to seperate lnk from delete and update buttons */
    color: #0275d8;
    text-decoration: none;
    font-weight: bold;
}

.account-container a:hover {
    text-decoration: underline;
}
